* {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  filter: drop-shadow(0px 0px 10px #ffffff);
}
.header::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, black, transparent);
  z-index: 10;
}
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: palegreen;
  z-index: 10;
  mix-blend-mode: color;
  opacity: 0.75;
}
.header h1 {
  position: relative;
  color: white;
  font-size: 10em;
  z-index: 1;
}

#text {
  text-shadow: 0 0 0px white;
}

h1 {
  text-align: center;
}

div {
  padding: 1em;
  max-width: 75%;
}

.position {
  display: flex; 
  flex-flow: row;
  justify-content: center;
  margin: 0;
  flex-flow: row;
  gap: 75px;
  max-width: 100%;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: solid 1px lightgray;
  border-radius: 20px;
  box-shadow: 0 0 25px lightgray;
  position: relative;
  transition: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
  flex-flow: column;
  height: 600px;
  flex-shrink: 0;
}

.container:hover {
  box-shadow: 0 0 5px lightgray,
    0 0 10px lightgray,
    0 0 25px lightgray,
    0 0 50px lightgray;
}

.item {
  font-size: 1.4em;
  margin: auto;
  width: 30em;
  font-weight: bold;
  align-self: center;
}

input {
  width: 90%;
  border: solid 1px lightgray;
  border-radius: 9px;
  font-size: 0.8em;
  height: 2em;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  padding-left: 10px; 
  transition: 0.5s;
}

input:focus {
  outline: none;
  box-shadow: 0 0 1px palegreen,
  0 0 2px palegreen,
  0 0 5px palegreen,
  0 0 10px palegreen;
}

input:hover {
  box-shadow: 0 0 5px palegreen,
  0 0 10px palegreen,
  0 0 20px palegreen,
  0 0 35px palegreen;
}

#submit {
  max-width: 30%;
  background-color: lightgreen;
  border: solid 1px rgb(127,200,127);
  transition: 0.5s;
}

#submit:hover {
  transition: 0.5s;
  background-color: rgb(214, 247, 177);
  text-shadow: 0 0 5px darkgray,
  0 0 10px darkgray,
  0 0 20px darkgray,
  0 0 35px darkgray;
  box-shadow: 0 0 5px rgb(127,200,127),
  0 0 10px rgb(127,200,127),
  0 0 20px rgb(127,200,127),
  0 0 35px rgb(127,200,127);
}

#favcolor {
  max-width: 50px;
  transition: 0.5s;
}

#favcolo:hover {
  transition: 0.5s;
  background-color: gray;
}

#itemList div p {
  user-select: text!important;
}

#itemList {
  justify-content: left;
}

.object {
  margin-top: 25px; 
  display: flex;
  flex-flow: row;
  gap: 15px;
  border: solid 1px rgb(127,200,127);
  border-radius: 10px;
  background:
    linear-gradient(217deg, rgba(235 34 45 / 0.2), transparent 90%),
    linear-gradient(127deg, rgba(56 224 75 / 0.5), transparent 60%),
    linear-gradient(336deg, rgba(13 32 235 / 0.4), transparent 70%);
  transition: 0.5s;
  flex-shrink: 0;
}

.object:hover {
  box-shadow: 0 0 5px rgb(127,200,127),
  0 0 10px rgb(127,200,127),
  0 0 20px rgb(127,200,127),
  0 0 35px rgb(127,200,127);
}

.object p {
  color: black;
  flex-basis: 24%;
  background-color: lightgreen;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(127,200,127);
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.object p:hover {
  text-shadow: 0 0 5px darkgray,
  0 0 10px darkgray,
  0 0 20px darkgray,
  0 0 35px darkgray;
  box-shadow: 0 0 5px rgb(127,200,127),
  0 0 10px rgb(127,200,127),
  0 0 20px rgb(127,200,127),
  0 0 35px rgb(127,200,127);
  background-color: rgb(214, 247, 177);
}


.objColor {
  display: flex;
  align-self: center; 
  width: 20px;
  height: 20px;
  border: solid 1px black;
}

#exampleColor {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #00FF00;
  border: solid 1px black;
}

.row1 {
    align-content: center;
}

footer {
  display: flex;
	position: relative;
	overflow: hidden;
	padding: 6em 0 6em 0;
	background: #2b252c;
	color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center;
}

footer div {
  max-width: 100%;
}

footer .icon.circled {
	background: #fff;
	color: #2b252c;
}

footer header {
	text-align: center;
	cursor: default;
}

footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #fff;
}

footer .contact {
			text-align: center;
}

footer .contact p {
    text-align: center;
    margin: 0 0 3em 0;
}

footer .copyright {
	text-align: center;
	color: rgba(128, 128, 128, 0.75);
	font-size: 0.8em;
	cursor: default;
}

footer .copyright a {
	color: rgba(128, 128, 128, 0.75);
}

footer .copyright a:hover {
	color: rgba(212, 212, 212, 0.85);
}

ul.menu {
	height: 1em;
	line-height: 1em;
	list-style: none;
	padding-left: 0;
}

ul.menu li {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

ul.icons {
	position: relative;
	background: rgba(128, 128, 128, 0.05);
	border-radius: 4em;
	display: inline-block;
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-size: 1.25em;
	cursor: default;
	list-style: none;
}

ul.icons li {
	display: inline-block;
	padding-left: 0;
}

footer::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, black, transparent);
  z-index: 10;
}

#footer {
  margin-top: 150px;
}

@media (max-width: 1600px) {
  
  .position {
    flex-flow: column;
  }
  
  .container {
    width: 100%;
    align-self: center;
  }
  
  .header h1 {
    font-size: 7em;
  }
  
}

@media (max-width: 1050px) {
  .header h1 {
    font-size: 5em;
  }
  
  .container {
    max-width: 90%;
    align-self: center;
    height: 900px;
  }
  
  .container p {
    font-size: 2em;
  }
  
  .object {
    max-width: 90%;
    width: 100%;
    border-width: 3px;
  }
  
  .item label {
    font-size: 2em;
  }
  
  input {
  width: 100%;
  font-size: 1.2em;
  height: 2em;
  }
  
  .objColor {
    width: 50px;
    height: 50px;
  }
  
  #exampleColor {
    width: 50px;
    height: 50px;
  }
  
}

@media (max-width: 670px) {
  .header h1 {
    font-size: 2em;
  }
  
  .container p {
    font-size: 0.8em;
  }
  
  .object {
    max-width: 90%;
    width: 100%;
    border-width: 3px;
    flex-flow: column;
    height: 27%
  }
  
  .item label {
    font-size: 0.8em;
  }
  
  div {
    max-width: 40%;
  }
  
  form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  input {
    width: 50%;
    font-size: 0.8em;
    height: 2em;
  }
  
  .objColor {
    width: 20px;
    height: 20px;
  }
  
  #exampleColor {
    width: 20px;
    height: 20px;
  }
}